
farmer/farmer/__pycache__/urls.cpython-37.pyc
farmer/farmer/__pycache__/settings.cpython-37.pyc
farmer/farmer/__pycache__/urls.cpython-37.pyc
farmer/home_page/__pycache__/urls.cpython-37.pyc
farmer/home_page/__pycache__/views.cpython-37.pyc
