/**@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:rgb(255, 255, 255);
}

.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -105%);
    color: black;
}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 60px;
    padding: 13px 0;
    font-family: 'Anton', sans-serif;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #000000;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: rgb(0,0,0);
    width: 10px;
    float: left;
    margin: 0 10px;

}

.btn{
    width: 100;
    background-color: rgb(16, 211, 9);
    border: 2px solid rgb(16, 211, 9);
    color: rgb(0,0,0);
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 12px 0;

}
.btn-2{
    width:100;
    background-color:rgb(16, 211, 9);
    border: 2px solid rgb(16, 211, 9);
    color: rgb(0,0,0);
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 12px 0;
}


