{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="{% static 'login_page/login.css' %}">
    <title>Document</title>
  </head>
  <body>
    <div class="login-box">
      <h1>Login</h1>
      <div class="baba">
        <a href="{% url 'register_index' %}">Register</a>
      </div>
      <div class="baba-2">
        <a href="../farmer.html">Login</a>
      </div>
      <div class="textbox">
          <i class="fa fa-user" aria-hidden="true"></i>
        <input type="text" placeholder="Username" name="" value="">
      </div>
      <div class="textbox">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <input type="password" placeholder="password" name="" value="">
    <!--<input class="btn" type="button" name="" value="Sign in"> 
    <input class="btn-2" type="submit" name="" value="Sign up!"> -->
    </div>

    
  </body>
</html>
