{% extends 'home_page/base.html' %} 


{% block content %}


<div class='col-sm-8 col-sm-offset-2'>
<table class='table'>
<thead>
<th>Item</th>
<th>Quantity</th>
<th>Price(single unit)</th>




</thead>
<tfoot>
<tr>
<td></td>
<td>Total: {{ totalPrice }}</td>
</tr>
</tfoot>


{% for Citem in cart %}

<tr><td>{{ Citem.item }}</td><td>{{ Citem.quantity}}</td><td>{{ Citem.product_price }}</td><td><a href={% url "remove-from-cart" Citem.item.id %}>remove from cart</a></td></tr>

{% endfor %}



</table>
</div>
{% endblock %}