{% extends 'home_page/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block styles %}
<link rel="stylesheet" href="{% static 'home_page/home.css'%}" />
{% endblock styles%}

{% block content%}
<div class="container text-center mt-5">
    <form action="" method="POST">
        <div class="row">
            {% csrf_token %}
            <h1>Product Information</h1>
            <p>Fill in this form to create the proudct</p>
            <hr>
            <div class="col-md-12 text-left">{{ form|crispy}}</div>
            <button class="btn btn-warning" type="submit">Add product</button>
        </div>
    </form>
</div>
{% endblock content%}