{% extends 'home_page/base.html' %} {%load static%} {%block styles%}
<link rel="stylesheet" href="{%static 'home_page/home.css'%}" />
{%endblock styles%} 

{%block search%}
<form id="searchForm" class="form-inline my-2 my-lg-0" method="GET" action="{% url 'product-search'%}">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for product" name="query" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search</button>
</form>
{%endblock search%}


{%block content%}

<div class="container">
  <div class="display-4 mx-auto text-center">
    Products
  </div>
</div>

{% if empty %}
  <h1 class="text-center">No result matched</h1>
{%endif%}

{% if result %}
  <div class="container">
  <div class="row">
    {% for x in result %}
    <div class="col-md-4 mt-2">
      <div class="card">
        <a href="#" class="stretched-link" style="color:black;text-decoration: none;">
          <img class="card-img-top" src="{% static 'home_page/mais.jpg' %}"alt="Card image cap" />
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <th>Product name</th>
                  <td>{{x.product_name}}</td>
                </tr>
                <tr>
                  <th>Description</th>
                  <td>{{x.product_description}}</td>
                </tr>
                <tr>
                  <th>Price</th>
                  <td>{{x.product_price}}</td>
                </tr>
              </tbody>
            </table>
            <p class="card-text"><small class="text-muted">Uploaded by: Farmer {{x.product_user}}, 1 minutes ago</small></p>
          </div>
        </a>
      </div>
    </div>
    {%endfor%}
</div>

{%else%}
<div class="container">
  <div class="row">
    {% for prod in product %}
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">
  
            <!--Card-->
            <div id="product" class="card">
  
              <!--Card image-->
              <div class="view overlay">
                <img id="product_img" src="{% static 'home_page/mais.jpg' %}" class="card-img-top"
                  alt="">
                <a href="#">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
  
              <!--Card content-->
              <div class="card-body">
                <table class="table">
                  <tbody>
                      <tr>
                          <!-- Trigger/Open The Modal -->
                          <a id="clicktext" class="openmodal">{{prod.productname}}</a>
  
                      </tr>
                      <tr>
                        <th>Description</th>
                          <td>{{prod.description}}</td>
                      </tr>
                      <tr>
                        <th>Harvest date</th>
                          <td>{{prod.harvest_date|date:"F d, Y"}}</td>
                      </tr>
                      <tr>
                        <th>Upload date</th>
                          <td>{{prod.date_posted|date:"F d, Y"}}</td>
                      </tr>
                      <tr>
                        <th>Stock</th>
                          <td>{{ prod.stock }}</td>
                      </tr>
                      <tr>
                        <th>Price</th>
                          <td>{{ prod.price }}</td>
                      </tr> 
                  </tbody>
                </table>
              </div>
  
            </div>
            <!--/.Card-->
          </div>
          <!--Grid column-->
            <div id="myModal" class="modal">

              <div class="modal-content">
                            <span class="close">&times;</span>

                              <div class = "productouter">
                              <img src="{% static 'farmer_page/images/Product_image.png'%}" align= "left" style= width:7% heigth:7%; >
                              <h1>{{prod.productname}}</h1>
                              <br>
                              <br>
                              <br>
                              <br>
       
                                      <div class = "box1">
                                                  <a id="clicktext" class="openmodal">{{prod.productname}}</a>
                                      </div>
                              <br>
                              <br>
                              <br>
                              <br>
                              </div>
                              <div class="thefarmer">
                                                                <table class="table">
                                          <tbody>
                                              <tr>
                                                  <!-- Trigger/Open The Modal -->

                          
                                              </tr>
                                              <tr>
                                                <th>Description</th>
                                                  <td>{{prod.description}}</td>
                                              </tr>
                                              <tr>
                                                <th>Harvest date</th>
                                                  <td>{{prod.harvest_date|date:"F d, Y"}}</td>
                                              </tr>
                                              <tr>
                                                <th>Upload date</th>
                                                  <td>{{prod.date_posted|date:"F d, Y"}}</td>
                                              </tr>
                                              <tr>
                                                <th>Stock</th>
                                                  <td>{{ prod.stock }}</td>
                                              </tr>
                                              <tr>
                                                <th>Price</th>
                                                  <td>{{ prod.price }}</td>
                                              </tr> 
                                          </tbody>
                                        </table>
                                        <br>
                                        <br>
                                  <table class="table">
                                    <tbody>
                                        <tr>
                                          <th>First Name</th>
                                            <td>{{farmer.name}}</td>
                                        </tr>
                                        <tr>
                                          <th>Last Name</th>
                                            <td>Carter</td>
                                        </tr>
                                        <tr>
                                          <th>Email</th>
                                            <td>johncarter@mail.com</td>
                                        </tr>
                                        <tr>
                                          <th>Farm Name</th>
                                            <td>{{farmer.company_name}}</td>
                                        </tr>
                                        <tr>
                                          <th>Address</th>
                                            <td>{{farmer.address}}</td>
                                        </tr>
                                        <tr>
                                          <th>Province</th>
                                            <td>{{farmer.province}}</td>
                                        </tr>
                                        <tr>
                                          <th>Phonenumber</th>
                                            <td>{{farmer.phone_number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                              </div>
                              <div class="reviews">
                              <p>reviews</p> <!--add review database!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                          
                              </div>
                              <div class="suggestions">
                              <p>suggestions</p>

                              </div>
                          </div>
                        </div>





    <div class="col-md-4 mt-2">
      <div class="card">
        <a class="stretched-link" style="color:black;text-decoration: none;">
          <img class="card-img-top" src="{% static 'home_page/mais.jpg' %}"alt="Card image cap" />
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <a id="clicktext" class="openmodal">{{prod.product_name}}</a>
                  <th>Product name</th>
                  <td>{{prod.product_name}}</td>
                  <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                          </div>
                          <div class="modal-body">
                            <p>Some text in the modal.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>

                      </div>
                    </div>
                </tr>
                <tr>
                  <th>Description</th>
                  <td>{{prod.product_description}}</td>
                </tr>
                <tr>
                  <th>Price</th>
                  <td>{{prod.product_price}}</td>
                </tr>
              </tbody>
            </table>
            <p class="card-text"><small class="text-muted">Uploaded by: Farmer {{prod.product_user}}, 1 minutes ago</small></p>
          </div>
        </a>
      </div>
    </div>
    {%endfor%}
</div>
{%endif%}





{% if user.is_authenticated %}
<div class="container">
    <div class="row">
      <div class="col-md-4 ml-auto mr-2">
        <div class="card">
          <h5 class="card-header">
            Add Product
          </h5>
          <div class="card-body">
            <h5 class="card-title">
              Do you want to advertise your products? Do it right now!
            </h5>
            <p class="card-text">You can add maximum 5 products today</p>
            <a href="{% url 'add-product' %}" class="btn btn-outline-primary">Add Product</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endif%}
{%endblock content%}
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("clicktext");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 


// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

var openmodal = document.getElementsByClassName("openmodal"); 

var showModal = function() { 
    modal.style.display = "block"; 
}; 

for (var i = 0; i < openmodal.length; i++) { 
    openmodal[i].addEventListener('click', showModal, false); 
} 
</script>
