{% extends 'home_page/base.html' %} {%load static%} {%block styles%}
<link rel="stylesheet" href="{%static 'home_page/home.css'%}" />
{%endblock styles%} {%block search%}
<form id="searchForm" class="form-inline my-2 my-lg-0" method="GET" action="{% url 'product-search'%}">
  <input class="form-control mr-sm-2" type="search" placeholder="Search for product" name="query" aria-label="Search" />
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search</button>
</form>
{%endblock search%} {%block content%}

<div class="container">
  <div class="display-4 mx-auto text-center">
    Products
  </div>
</div>

<!-- {% if empty %}
<h1 class="text-center">No result matched</h1>
{%endif%}  -->
{% if result %}
<div class="container">
  <div class="row">
    {% for x in result %}
    <div class="col-md-4 mt-2">
      <div class="card">
        <a href="#" class="stretched-link" style="color:black;text-decoration: none;">
            {% if x.product_picture %}
            <img class="card-img-top" src="{{ x.product_picture.url }}" alt="Card image cap" />
            {% else %}
            <img class="card-img-top" src="{% static 'home_page/mais.jpg' %}" alt="Card image cap" />
            {% endif %}
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <th>Product name</th>
                  <td>{{x.product_name}}</td>
                </tr>
                <tr>
                  <th>Description</th>
                  <td>{{x.product_description}}</td>
                </tr>
                <tr>
                  <th>Price</th>
                  <td>{{x.product_price}}</td>
                </tr>
              </tbody>
            </table>
            <p class="card-text"><small class="text-muted">Uploaded by: Farmer {{x.product_user}}, 1 minutes ago</small></p>
          </div>
        </a>
      </div>
    </div>
    {%endfor%}
  </div>

  {%else%}
  <div class="container">
  {% if data %}
    <div class="col-md-1">
    <form action="{% url 'category' %}" method="GET">
    {% for key, value in data.items %}
        <input type="submit" value="{{key}}" name="category" class="btn btn-secondary mt-1"></inpu>
      {% for x in value %}
          <input type="submit" value="{{x}}" name="category" class="btn btn-primary mt-1"/>
      {% endfor %}
    {% endfor %}
     <!-- <input type="submit" value="{{value}}" name="category" class="btn btn-primary mt-1"/> -->
     
    </form>
    </div>
  {% endif %}

    <!-- {% if available %}
      <h5>{{available}}</h5>
    {% endif %} -->
    <div class="row">
      {% for prod in product %}
      <div class="col-md-4 mt-2">
        <div class="card">
          <a href="#" class="stretched-link" style="color:black;text-decoration: none;">
            {% if prod.product_picture %}
            <img class="card-img-top" src="{{ prod.product_picture.url }}" alt="Card image cap" />
            {% else %}
            <img class="card-img-top" src="{% static 'home_page/mais.jpg' %}" alt="Card image cap" />
            {% endif %}
            <div class="card-body">
              <table class="table">
                <tbody>
                  <tr>
                    <th>Product name</th>
                    <td>{{prod.product_name}}</td>
                  </tr>
                  <tr>
                    <th>Description</th>
                    <td>{{prod.product_description}}</td>
                  </tr>
                  <tr>
                    <th>Price</th>
                    <td>{{prod.product_price}}</td>
                  </tr>
                </tbody>
              </table>
              <p class="card-text"><small class="text-muted">Uploaded by: Farmer {{prod.product_user}}, 1 minutes ago</small></p>
            </div>
          </a>
        </div>
      </div>
      {%endfor%}
    </div>
    {%endif%} {% if user.is_authenticated %}
    <div class="container">
      <div class="row">
        <div class="col-md-4 ml-auto mr-2">
          <div class="card">
            <h5 class="card-header">
              Add Product
            </h5>
            <div class="card-body">
              <h5 class="card-title">
                Do you want to advertise your products? Do it right now!
              </h5>
              <p class="card-text">You can add maximum 5 products today</p>
              <a href="{% url 'add-product' %}" class="btn btn-outline-primary">Add Product</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endif%} {%endblock content%}
</div>
