{% extends 'home_page/base.html' %} 
{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
      {%block title%}Farmers{%endblock%}
    {%block styles%}
    <link rel="stylesheet" href="{%static 'farmer_page/farmer.css'%}">
    <link rel="stylesheet" href="{%static 'home_page/home.css'%}">
    {%endblock styles%}
  </head>

{%block search%}
<form id="searchForm" class="form-inline my-2 my-lg-0" method="GET" action="{% url 'farmer-search'%}">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for farmer" name="query" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search</button>
</form>
{%endblock search%}

{%block content%}



{% if empty %}
  <h1 class="text-center">No result matched</h1>
{%endif%}

{% if result %}
<div class="container-fluid profile" style="background-color:white !important; border:1px solid black; width:80%; border-radius:10px;">
  <div class="row">
    {% for x in result%}
    <div class="col-lg-5 border border-info rounded mt-3 mx-5 col-md-10" style="margin-bottom:1%;">
      <i class="fas fa-user"></i>
        {{x.name}}
      <br>
      <i class="fab fa-product-hunt"></i>
        {{x.address}}
    <div class="row">
      <a class="btn btn-outline-warning my-2 mx-2 stretched-link" href="{% url 'profile-index' x.id %}">See Profile</a>
     </div>
    </div>
    {%endfor%}
{% else %}
<div class="container-fluid" style="background-color:white !important; border:1px solid black; width:80%; border-radius:10px;">
  <div class="row">
    {% for x in info %}
    <div class="col-lg-5 border border-info rounded mt-3 mx-5 col-md-10" style="margin-bottom:1%;">
      <table class="table">
        <tbody>
          <tr>
            <th><i class="fas fa-user" style="padding-right: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name:</i></th>
            <td style="width: 60%">{{x.name}}</td>
          </tr>
          <tr>
            <th><i class="fas fa-address-card" style="padding-right: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;Farm Name:</i></th>
            <td style="width: 60%">{{x.company_name}}</td>
          </tr>
          <tr>
            <th><i class="fab fa-product-hunt" style="padding-right: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Products:</i></th>
            <td style="width: 60%">{{x.products}}</td>
          </tr>
        </tbody>
      </table>
    <div class="row">
      <a class="btn btn-outline-warning my-2 mx-2 stretched-link" href="{% url 'profile-index' x.id %}">See Profile</a>
     </div>
    </div>
    {% endfor %}
  </div>
</div>
{%endif%}



{%endblock content%}

