{% extends 'home_page/base.html'%} {% load static%} {% block content%}
<h2 class="text-center">Welcome to your products page {{profile}}</h2>

{% if product %}
<div class="container">
  <div class="row">
    {% for prod in product %}
    <div class="col-md-4 mt-2">
      <div class="card">
        <a href="#" class="stretched-link" style="color:black;text-decoration: none;">
          <img class="card-img-top" src="{% static 'home_page/mais.jpg' %}" alt="Card image cap" />
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <th>Product name</th>
                  <td>{{prod.product_name}}</td>
                </tr>
                <tr>
                  <th>Description</th>
                  <td>{{prod.product_description}}</td>
                </tr>
                <tr>
                  <th>Price</th>
                  <td>{{prod.product_price}}</td>
                </tr>
              </tbody>
            </table>
            <p class="card-text">
              <small class="text-muted">Uploaded by: Farmer {{prod.product_user}}, 1 minutes ago</small>
            </p>
            <div class="">
              <a class="btn btn-danger text-white mr-auto">Delete your product</a>
            </div>
          </div>
        </a>
      </div>
    </div>
    {%endfor%}
  </div>
  {% else %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        You don't have any products, add products to see your own products!
      </div>
      <div class="col-md-4">
        <a href="{% url 'add-product' %}"><button class="btn btn-outline-success">Add product</button></a>
      </div>
    </div>
  </div>
  {%endif%} {% endblock content %}
</div>
