{% extends 'home_page/base.html'%} 
{% load static%}
{% block styles %}
    
{% endblock %} 
{% block content%}
<div class="container" style="background-color:white !important; border:1px solid black; width:80%; border-radius:10px;">
  <br>
  <h2 class="text-center">Welcome to your products page {{profile}}</h2>
  <br>
  <hr style="border-top:1px solid black; width:95%;">
  <br>
  <div class="row">
    {% if product %}
    <div class="col-lg-8 mt-2 col-md-12">
      <div class="container">
        <div class="row">
          {% for prod in product %}
          <div class="col-lg-6 mt-2 col-md-12">
            <div class="card" style="width:100% !important;">
              <a href="#" class="" style="color:black;text-decoration: none;">
                  {% if prod.product_picture %}
                  <img class="card-img-top" src="{{ prod.product_picture.url }}" alt="Card image cap" />
                  {% else %}
                  <img class="card-img-top" src="{% static 'home_page/mais.jpg' %}" alt="Card image cap" />
                  {% endif %}
                <div class="card-body">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th>Product name</th>
                        <td style="word-break:break-all;">{{prod.product_name}}</td>
                      </tr>
                      <tr>
                        <th>Description</th>
                        <td style="word-break:break-all;">{{prod.product_description}}</td>
                      </tr>
                      <tr>
                        <th>Price</th>
                        <td style="word-break:break-all;">{{prod.product_price}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="card-text">
                    <small class="text-muted">Uploaded by: Farmer {{prod.product_user}}, 1 minutes ago</small>
                  </p>
                  <div class="">
                    <form action="" method="POST">
                      {% csrf_token %}
                        <a class="btn btn-danger text-white mr-auto" href="{% url 'delete' prod.id%}" type="submit">Delete your product</a>
                  </form>
                  </div>
                </div>
              </a>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-2 col-md-12">
        <div class="row">
          <div class="col-md-12 ml-auto mr-2">
            <div class="card" style="width:100% !important;">
              <h5 class="card-header">
                Add Product
              </h5>
              <div class="card-body">
                <h5 class="card-title">
                  Do you want to advertise your products? Do it right now!
                </h5>
                <p class="card-text">You can add maximum 5 products today</p>
                <a href="{% url 'add-product' %}" class="btn btn-outline-primary">Add Product</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% else %}
  {% if user.is_authenticated %}
  <div class="container">
    <div class="row">
      <div class="col-md-4 ml-auto mr-2">
        <div class="card">
          <h5 class="card-header">
            Add Product
          </h5>
          <div class="card-body">
            <h5 class="card-title">
              Do you want to advertise your products? Do it right now!
            </h5>
            <p class="card-text">You can add maximum 5 products today</p>
            <a href="{% url 'add-product' %}" class="btn btn-outline-primary">Add Product</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endif %}
<br>
</div>
{% endblock content %}
