{% extends 'home_page/base.html' %}
{% load static %}
{%block title%}My profile{%endblock%}
<!--Main layout-->
{%block content%}
{% load crispy_forms_tags %}


{% if messages %}
{% for message in messages %}
<h1 class="alert alert-success">{{message}}</h1>
{% endfor %}
{% endif %}

<div class="container-fluid" style="background-color:white !important; border:1px solid black; width:80%; border-radius:10px;padding:2%;">

<!--Grid row-->
<div id="info" class="row justify-content-md-center">

  <!--Grid column-->
  <div id="profile_pic" class="col-md-4 mb-4">

    <div class="view overlay z-depth-1-half">
      <img src="{% static 'profile_page/avatar.jpg' %}" class="card-img-top" alt="">
      <div class="mask rgba-white-light"></div>
    </div>

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-6 mb-4">
    <div id="general_info" class="card">
      <div class="card-body" class="table-responsive-sm">
        <h4 class="card-title">General info</h4>
          <table class="table">
            <tbody>
                <tr>
                  <th>Name</th>
                    <td>{{info.name}}</td>
                </tr>
                <tr>
                  <th>Email</th>
                    <td><a href="mailto:{{info.email}}" style="text-decortation:none; color:black;">{{info.email}}</a></td>
                </tr>
                <tr>
                  <th>Farm Name</th>
                    <td>{{info.company_name}}</td>
                </tr>
                <tr>
                  <th>Address</th>
                    <td>{{info.address}}</td>
                </tr>
                <tr>
                  <th>Province</th>
                    <td>{{info.province}}</td>
                </tr>
                <tr>
                  <th>Phonenumber</th>
                    <td>{{info.phone_number}}</td>
                </tr>
                  <tr>
                  <th>Products</th>
                    <td>{{info.products}}</td>
                </tr>
                <tr>
                  <td><button class="btn btn-danger" data-toggle="modal" data-target="#reportModal">Report farmer</button></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
      <form action="" method="POST">
        <div class="modal fade" id="reportModal" role="dialog">
        <div class="modal-dialog">
          {% csrf_token %}
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <p>{{form}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button class="btn btn-danger" type="submit">Report</button>
            </div>
          </div>
          
        </div>
      </div>
      </form>
    </div>
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
    <div class="container">
    <div class="row">
      <div class="col-md-6 mt-2" style="border-right: 2px solid black;">
      <h3 style="text-align:center;">Review</h3>
        <br>
        {% if user.is_authenticated %}
        <form action="" method="POST">
          {% csrf_token %}
          {{reviewform|crispy}}
          <input type="hidden" id="prodId" name="prodId" value="{{info.id}}">
          <input class="btn btn-primary" type="submit" value="Submit review"></input>
        </form>
        {% else %}
          <p>You need to login in order to rate.</p>
        {% endif %}
      </div>
      <div class="col-md-6 mt-2" style="padding-left:25px; max-height: 400px; overflow: scroll;">
        {% for x in review%}
          {% if x.review_farmer == info.id %}
           <div class="container" style=" margin-top:1%;">
              <b>{{x.review_title}}</b> 
              <p style="padding:0 !important; word-wrap: break-word">{{x.review_message}}</p>
           </div>
           <hr style="width: 100%; color: lightgrey; height: 1px; background-color:lightgrey;" />
          {% else %}
            
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
</body>
{%endblock content%}
