{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <style>
          @import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
          </style>
          <style>
              @import url('https://fonts.googleapis.com/css?family=Anton|News+Cycle&display=swap');
              </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="{% static 'home_page/home.css' %}">
    <title>Farm Platform</title>
  </head>
  <body>
  
    <div id="header">
        <h1>(placeholder name)</h1>
      <h2> The place to buy your products straight of the farmer.</h22>
    </div>
    <div id="navbar">
        <ul>
            <li>Logo (placeholder name)</li>
            <li><a class="active"href="{% url 'home_index' %}">Home</a></li>
            <li><a href="{% url 'login_index' %}">Farmer</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Test</a></li>
            <li style="float:right"><a href="../login_page/login.html">Login</a></li>
            <li style="float:right"><a href="../search_page/search.html">Search</a></li>
        </ul>
    </div>
    <div id="general">
      <div class="info-platform">
        <p>General-info voor website</p>
      </div>
      <div class="info-product-1">
        <p>Welcome to the (placeholder name) where you can buy 100% biological products</p>
      </div>
      <div class="info-product-2">
        <p>Welcome to the (placeholder name) where you can buy 100% biological products test 2</p>
      </div>
      <div class="info-product-3">
        <p>Welcome to the (placeholder name) where you can buy 100% biological products test 2</p>
      </div>
      <div class="info-product-4">
        <p>Welcome to the (placeholder name) where you can buy 100% biological products test 2</p>
      </div>
    </div>
    <div id="popular-products">

    </div>
  </body>
</html>
