{% extends 'home_page/base.html'%}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Landing Page Website Tutorial</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'home_page/home.css' %}">
</head>

<body>
    {% block content%}
    <div id="second">
      <div id="container">
        <a href="{% url 'user-profile' %}">
          <img class="card-img-top" src="{% static 'home_page/SALE.png' %}" alt="Card image cap" />
        </a>
      </div>
      <div id="container2">
        <h4 style="font-weight: bold !important; margin-top:3px; font-size: 20px !important;">Discover our store</h4>
        <div class="card" style="width: 15rem; float:left; background-color: white;">
          <img src="{% static 'home_page/mais.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="" style="text-decoration:none; color:black;">Mais</a>
          </div>
        </div>
        <div class="card" style="width: 15rem; float:left; margin-left:1%;">
          <img src="{% static 'home_page/broccoli.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" style="text-decoration:none; color:black;">Broccoli</a>
          </div>
        </div>
        <div class="card" style="width: 15rem; float:left; margin-left:1%;">
          <img src="{% static 'home_page/graan.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" style="text-decoration:none; color:black;">Wheat</a>
          </div>
        </div>
        <div class="card" style="width: 15rem;; float:left; margin-left:1%;">
          <img src="{% static 'home_page/aardbei.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" style="text-decoration:none; color:black;">Strawberry</a>
          </div>
        </div>
        <div class="card" style="width: 15rem; float:left; margin-left:1%;">
          <img src="{% static 'home_page/kiwi.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" style="text-decoration:none; color:black;">Kiwi Fruit</a>
          </div>
        </div>
      </div>
    </div>
    {%endblock content%}
</body>
</html>