{% extends 'home_page/base.html'%}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Landing Page Website Tutorial</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'home_page/home.css' %}">
</head>

<body>
    {% block content%}
    <div id="second">
        <div id="infodiv">   
	        <p class="lead text-justify">Here comes some general info</p>
        </div>

        <div id="demo" class="carousel slide" data-ride="carousel">
            <h1> Popular products</h1>

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            
            <!-- The slideshow -->
            <div class="carousel-inner">
                <!--Card-->
                <div class="carousel-item active" id="product"  class="card">

                    <!--Card image-->
                    <div class="view overlay">
                    <img id="product_img" src="{% static 'home_page/mais.jpg' %}" class="card-img-top"
                        alt="">
                    <a href="#">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                            <th>Product name</th>
                                <td>Mais</td>
                            </tr>
                            <tr>
                            <th>Description</th>
                                <td>A very good and tasty product</td>
                            </tr>
                            <tr>
                            <th>Harvest date</th>
                                <td>6-10-2019</td>
                            </tr>
                            <tr>
                            <th>Upload date</th>
                                <td>7-10-2019</td>
                            </tr>
                            <tr>
                            <th>Stock</th>
                                <td>10 items</td>
                            </tr>
                            <tr>
                            <th>Price</th>
                                <td>5 euro/kg</td>
                            </tr> 
                        </tbody>
                    </table>
                    </div>

                </div>
                <!--Card-->
                <div class="carousel-item" id="product" class="card">

                    <!--Card image-->
                    <div class="view overlay">
                    <img id="product_img" src="{% static 'home_page/graan.jpg' %}" class="card-img-top"
                        alt="">
                    <a href="#">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                            <th>Product name</th>
                                <td>Graan</td>
                            </tr>
                            <tr>
                            <th>Description</th>
                                <td>A very good and tasty product.</td>
                            </tr>
                            <tr>
                                <th>Harvest date</th>
                                <td>1-10-2019</td>
                            </tr>
                            <tr>
                                <th>Upload date</th>
                                <td>5-10-2019</td>
                            </tr>
                            <tr>
                                <th>Stock</th>
                                <td>10 items</td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td>3 euro/kg</td>
                            </tr> 
                        </tbody>
                    </table>
                    </div>

                </div>
                <!--/.Card-->
                
                <!--Card-->
                <div class="carousel-item"id="product" class="card">

                    <!--Card image-->
                    <div class="view overlay">
                    <img id="product_img" src="{% static 'home_page/broccoli.jpg' %}" class="card-img-top"
                        alt="">
                    <a href="#">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                            <th>Product name</th>
                                <td>Broccoli</td>
                            </tr>
                            <tr>
                            <th>Description</th>
                                <td>A very good and tasty product</td>
                            </tr>
                            <tr>
                                <th>Harvest date</th>
                                <td>3-10-2019</td>
                            </tr>
                            <tr>
                                <th>Upload date</th>
                                <td>5-10-2019</td>
                            </tr>
                            <tr>
                                <th>Stock</th>
                                <td>10 items</td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td>4 euro/kg</td>
                            </tr> 
                        </tbody>
                    </table>
                    </div>

                </div>
                <!--/.Card-->
            </div>
            
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev" >
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    {%endblock content%}
</body>
</html>